@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono Variable", monospace;
  --text-base: 1.125rem;
  --text-base--line-height: 1.5rem;
  --container-node: 7.5rem;
  --spacing-node: 14%;
  --border-width-node: 0.125em;
  --color-code-text: var(--astro-code-color-text);
  --color-code-comment: var(--astro-code-token-comment);
  --color-code-bg: var(--astro-code-color-background);
  --breakpoint-3xl: 1920px;
}
