---
import { getCollection } from 'astro:content';
import ThemeSelector from './ThemeSelector.astro';

// prettier-ignore
const linkedListPosts = await getCollection('dsa', ({ id }) => id.startsWith('linked-list/'));
---

<div class="sticky top-0 col-span-2 text-base px-6 overflow-y-scroll h-screen">
  <p class="text-code-text py-6 font-bold m-0">frontin.dev</p>

  <ThemeSelector />

  <ul class="text-code-text py-6">
    <li>
      <details open>
        <summary>Linked List</summary>
        <ul>
          {
            linkedListPosts.map((post) => (
              <li>
                <a href={`/dsa/linked-list/${post.slug}`}>{post.data.title}</a>
              </li>
            ))
          }
        </ul>
      </details>
    </li>
  </ul>
</div>